.card{
     width: 85%;
    height:auto;
    border-radius: 12px;
    min-height: 200px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 55px;
   
}

.arriba{
    display: flex;
    align-items: end;
    justify-content: end;
    background-color: rgb(172, 171, 171) solid 1px ;
}

p{
    margin: 0%;
}

.carta{
   cursor: pointer;
    height: 35px;
    margin-right: 25px;
 
}

.carta >p{
    font-size: 20px;
}

.con{
    width: 100%;
    height: 100px;
   margin-bottom: 15px;
   overflow: hidden;
   transition: height 5s ease; 
   box-sizing: border-box;
   background-color:#1F213A;
   border-radius: 15px;
   transition: height 5s ease; 

   transition: background-color 2s ease;
}




.patrullash{
    color: black;
    font-size: 55px;
    font-family: 'Courier New', Courier, monospace;
}

.con:hover{
    background-color:#373847;
} 

.opciones{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between ;
   
} 

.h1opcion{
    margin-left: 29px;
    color: aliceblue;
}
.kk{
    margin-right: 29px;
    cursor: pointer;
}

.alargar{
    height:  1000px;
    transition: height 5s ease; 
}

.ul >li{
font-size: 23px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

.padre{
    display: flex;
}


.foto{
    width: 100%;
    height: 300px;
    margin-top: 35px;
}

table{
    width: 85%;
    border-collapse: collapse;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: #E0E0E0 1px solid;
    border-radius: 56px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

tr{
    width: 100%;
    padding: 20px;
    background-color: #FFFFFF;
    border: #E0E0E0 1px solid;
    
}
td{
    padding: 16px;
    border: 1px solid #dddddd;
    color: #072F6B;
    font-size:18px ;
   
    font-family:sans-serif;

}

.ultima{
    display: flex;
    justify-content: end;
}


.ocultar > .no{
    display: none;
}

.ocultar{
    height: 555px;
}


.absolu{
    width: 100%;
    height: 100vh;
    background-color: black;
    position: absolute;
    opacity:  1;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }

  .xx{
    color: white;
    cursor: pointer;
  }

  .contenedoropciones {
    margin-top: 33px;
    width:655px ;
    margin-right: auto;
     height:622px ;
     margin-left: auto;
    display: flex;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 0 20px 0 20px;
   
    
  }
  
  .one {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    height:  98%;
    
    
    border: 1px solid rgb(203, 214, 220);
  flex-direction: column;
    display: flex;
    border-radius: 10px;
    background:#fdfcfc;
    overflow: hidden;
    box-shadow: 1px 1px 5px 1px rgb(255, 255, 255);
  }

  .imagen > img{
    width: 100%;
    height: 100%;
    border-bottom:  1px solid gainsboro;
    
  }

  .imagen{
    width: 100%;
    height: 50%;
   
  }

  .carac{
    overflow: hidden;
    width:100% ;
    height: 50%;
    display: flex;
    justify-content:space-around;
    flex-direction: column;
   padding-left: 30px;
   padding-right: 30px;
   padding-right: 20px;
  }
  .ññ >h1{
    font-size: 30px;
    margin: 0%;
  }

  .modificar{
    width: 80%;
    height: 40px;
    border-radius: 12px;
    border: none;
    background-color: rgb(59, 59, 224);
    border: none;
    color: white;    
    text-align: center;
    text-decoration: none;
    font-size: 33px;    
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;   
  }

  .modificar:hover{
    background-color:  rgb(48, 48, 161);
  }

  .salir{
    width:63px ;
    height: 63px;
    position: absolute;
    top: 12px;
    left: 12px;
    border-radius: 555px;
    font-size: 33px;
    color: red;
    cursor: pointer;
  }

.ññ{
    display: flex;
    align-items: center;
    background-color: #373847;
    

}

.ññ >h2{
    margin: 0%;
    color: red
}
.ññ >h1{
    margin: 0;
}

.div >p , .div >h1{
display: inline-block;
margin: 0;
}

.div >p{
    color:blue ;
    font-size: 22px;
}

h1{
    margin: 0%;
}
.imagenes{
    width: 555px ;
    height: 555px;
}

@media (max-height: 750px) {
    .one{
        height: 80%;
    }
}