.card{
     width: 85%;
    height:auto;
    border-radius: 12px;
    min-height: 200px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 55px;
    background-color: white;
}

.arriba{
    display: flex;
    align-items: end;
    justify-content: end;
    background-color: rgb(172, 171, 171) solid 1px ;
}

p{
    margin: 0%;
}

.carta{
   cursor: pointer;
    height: 35px;
    margin-right: 25px;
 
}

.carta >p{
    font-size: 20px;
}

.con{
    width: 100%;
    height: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom: solid 0.5px gainsboro;
   overflow: hidden;
   transition: height 5s ease; 
   box-sizing: border-box;

}
.con:hover{
    background-color: rgb(247, 246, 246);
} 

.opciones{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between ;
   
} 

.h1opcion{
    margin-left: 29px;
}
.kk{
    margin-right: 29px;
}

.con.alargar{
    height: auto !important ;
    transition: height 5s ease; 
}

.ul >li{
font-size: 23px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}